html, body {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.inputLabels {
    color: hsl(278,68%,11%);
    font-size: 14;
    font-weight: 600;
    letter-spacing: 00.0625rem;
}

.inputForm {
    width: 385px;
    margin-top: 0.5rem;
}

.inputDate {
    margin-top: 0.5rem;
    width: 80px;
    margin: 0;
    padding: 0;
}

